samples/instruments/FpML/transparency/fpml-option-shared-5-7.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2014 All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/transparency" targetNamespace="http://www.fpml.org/FpML-5/transparency" ecore:documentRoot="FpML" ecore:nsPrefix="trnsp" ecore:package="org.fpml.transparency" version="$Revision: 11068 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-asset-5-7.xsd" />
<!--View Generation: SKIPPED Asian - NonStandardFeature-->
<!--View Generation: SKIPPED AveragingObservationList - NonStandardFeature-->
<!--View Generation: SKIPPED AveragingPeriod - NonStandardFeature-->
<!--View Generation: SKIPPED AveragingSchedule - NonStandardFeature-->
<!--View Generation: SKIPPED Barrier - NonStandardFeature-->
<!--View Generation: SKIPPED CalendarSpread - NonStandardFeature-->
  <xsd:complexType name="ClassifiedPayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A classified non negative payment.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonNegativePayment">
        <xsd:sequence>
          <xsd:element name="paymentType" type="PaymentType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Payment classification.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED Composite - NonStandardFeature-->
<!--View Generation: SKIPPED CreditEventNotice - Unsupported-->
  <xsd:complexType name="CreditEvents">
    <xsd:sequence>
<!--View Generation: SKIPPED bankruptcy - Standardized-->
<!--View Generation: SKIPPED failureToPay - Standardized-->
<!--View Generation: SKIPPED failureToPayPrincipal - Standardized-->
<!--View Generation: SKIPPED failureToPayInterest - Standardized-->
<!--View Generation: SKIPPED obligationDefault - Standardized-->
<!--View Generation: SKIPPED obligationAcceleration - Standardized-->
<!--View Generation: SKIPPED repudiationMoratorium - Standardized-->
      <xsd:element name="restructuring" type="Restructuring" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A credit event. A restructuring is an event that materially impacts the reference entity's obligations, such as an interest rate reduction, principal reduction, deferral of interest or principal, change in priority ranking, or change in currency or composition of payment. ISDA 2003 Term: Restructuring.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED governmentalIntervention - Standardized-->
<!--View Generation: SKIPPED distressedRatingsDowngrade - Standardized-->
<!--View Generation: SKIPPED maturityExtension - Standardized-->
<!--View Generation: SKIPPED writedown - Standardized-->
<!--View Generation: SKIPPED impliedWritedown - Standardized-->
<!--View Generation: SKIPPED defaultRequirement - Standardized-->
<!--View Generation: SKIPPED creditEventNotice - Standardized-->
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="optional" />
  </xsd:complexType>
<!--View Generation: SKIPPED CreditEventsReference - Documentation-->
<!--View Generation: SKIPPED FailureToPay - Standardized-->
<!--View Generation: SKIPPED FeaturePayment - NonStandardFeature-->
<!--View Generation: SKIPPED FxFeature - NonStandardFeature-->
<!--View Generation: SKIPPED GracePeriodExtension - Standardized-->
<!--View Generation: SKIPPED Knock - NonStandardFeature-->
<!--View Generation: SKIPPED MarketDisruption - Documentation-->
<!--View Generation: SKIPPED NotifyingParty - Documentation-->
  <xsd:complexType name="Option" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the common features of options. Buyer/seller information is not normally used in Transparency view but is optional in case the information is needed for administrative purposes such as Reporting Party determination.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="BuyerSeller.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OptionBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the common features of options.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Option">
        <xsd:sequence>
          <xsd:element name="optionType" type="OptionTypeEnum">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The type of option transaction. From a usage standpoint, put/call is the default option type, while payer/receiver indicator is used for options index credit default swaps, consistently with the industry practice. Straddle is used for the case of straddle strategy, that combine a call and a put with the same strike.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OptionBaseExtended" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Base type for options starting with the 4-3 release, until we refactor the schema as part of the 5-0 release series.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OptionBase">
        <xsd:sequence>
          <xsd:element name="premium" type="Premium" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The option premium payable by the buyer to the seller.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="exercise"></xsd:element>
<!--View Generation: SKIPPED exerciseProcedure - Documentation-->
<!--View Generation: SKIPPED feature - NonStandardFeature-->
          <xsd:choice minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A choice between an explicit representation of the notional amount, or a reference to a notional amount defined elsewhere in this document.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="notionalReference" type="NotionalAmountReference" />
            <xsd:element name="notionalAmount" type="Money" />
          </xsd:choice>
          <xsd:group ref="OptionDenomination.model" minOccurs="0" />
<!--View Generation: SKIPPED  - NonStandardFeature-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED OptionFeature - NonStandardFeature-->
  <xsd:complexType name="OptionNumericStrike">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the strike price for an option as a numeric value without currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="strikePrice" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The price or level at which the option has been struck.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="strikePercentage" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The price or level expressed as a percentage of the forward starting spot price.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OptionStrike">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining the strike price for an equity option. The strike price is either: (i) in respect of an index option transaction, the level of the relevant index specified or otherwise determined in the transaction; or (ii) in respect of a share option transaction, the price per share specified or otherwise determined in the transaction. This can be expressed either as a percentage of notional amount or as an absolute value.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OptionNumericStrike">
        <xsd:sequence>
          <xsd:element name="currency" type="Currency" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED PassThrough - Unsupported-->
<!--View Generation: SKIPPED PassThroughItem - Unsupported-->
  <xsd:complexType name="Premium">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type for defining a premium.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SimplePayment">
        <xsd:sequence>
          <xsd:group ref="Premium.model"></xsd:group>
<!--View Generation: SKIPPED  - NonStandardFeature-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED PubliclyAvailableInformation - Unsupported-->
<!--View Generation: SKIPPED Quanto - Unsupported-->
  <xsd:complexType name="Restructuring">
    <xsd:sequence>
      <xsd:element name="applicable" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates whether the restructuring provision is applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED restructuringType - Documentation-->
<!--View Generation: SKIPPED multipleHolderObligation - Standardized-->
<!--View Generation: SKIPPED multipleCreditEventNotices - Standardized-->
    </xsd:sequence>
  </xsd:complexType>
<!--View Generation: SKIPPED RestructuringType - Documentation-->
<!--View Generation: SKIPPED SettlementTerms - NonStandardFeature-->
<!--View Generation: SKIPPED StrategyFeature - NonStandardFeature-->
<!--View Generation: SKIPPED StrikeSpread - NonStandardFeature-->
<!--View Generation: SKIPPED Trigger - Unsupported-->
<!--View Generation: SKIPPED TriggerEvent - NonStandardFeature-->
<!--View Generation: SKIPPED WeightedAveragingObservation - NonStandardFeature-->
<!--View Generation: SKIPPED OptionBaseFeature.model - NonStandardFeature-->
  <xsd:group name="OptionDenomination.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A model group containing the option denomination components.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="optionEntitlement" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of units of underlyer per option comprised in the option transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entitlementCurrency" type="Currency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">TODO</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberOfOptions" type="PositiveDecimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of options comprised in the option transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
<!--View Generation: SKIPPED OptionFeature.model - NonStandardFeature-->
  <xsd:group name="OptionSettlement.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A group which has Option Settlement elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="settlementType" type="SettlementTypeEnum" minOccurs="0" />
      <xsd:element name="settlementDate" type="AdjustableOrRelativeDate" minOccurs="0" />
      <xsd:group ref="SettlementAmountOrCurrency.model" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
</xsd:schema>

